* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body {
    width: 50%;
    position: absolute;
    align-items: center;
}

#my_language_form {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
}

#title {
    font-size: large;
    font-weight: bold;
    padding: 10px;
}

